
@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

@using (Html.BeginForm("Index", "Calculator"))
{

    <div class="row">
        <div class="col-sm-3">
            <input type="text" value="@ViewBag.num1" name="num1" class="form-control"/>
    </div>
        <div class="col-sm-3">
            <input type="text" value="@ViewBag.num2" name="num2" class="form-control" />
        </div>
        <div class="col-sm-3">
            <input type="submit" name="command" value="add" class="btn btn-primary" />
            <input type="submit" name="command" value="sub" class="btn btn-primary" />
            <input type="submit" name="command" value="mul" class="btn btn-primary" />    
            <input type="submit" name="command" value="div" class="btn btn-primary" />
        </div>
        <div class="col-sm-3">
            <label>Result is : @ViewBag.result</label>
        </div>
    </div>
   
  
 
        }


